/**********************SUBJECT**************************/

/*******************
== FORUMS & LIST ===
*******************/

.topic_list_container {
	margin-top: 10px;
	padding-top: 10px;
}

.topic_list_pagination {
	
}

.topic_list_pagination:empty {
	display: none;
}

.topic_row:not(.no_topic) {
	display: grid;
	grid-template-areas:
		"img stats title last"
		"img stats desc last"
		"img stats author last";
	grid-template-columns: 10px 90px 1fr auto;
	height:60px;
	position: relative;
	margin-bottom: 10px;
	background-color: var(--fow-bg);
}

.topic_left_section {
	position: relative;
	width: 95px;
	z-index: 2;
	margin-left: 10px;
	flex-shrink: 0;
}

/* 
OLD   : https://i.servimg.com/u/f23/20/37/66/52/old10.gif
NEW   : https://i.servimg.com/u/f23/20/37/66/52/new10.gif
LCKD  : https://i.servimg.com/u/f23/20/37/66/52/locked10.gif
NEW_N : https://i.servimg.com/u/f23/20/37/66/52/new_n10.gif
NOTE  : https://i.servimg.com/u/f23/20/37/66/52/note10.gif
NEW_A : https://i.servimg.com/u/f23/20/37/66/52/new_a10.gif
ANCE  : https://i.servimg.com/u/f23/20/37/66/52/ance10.gif
*/

img[src="https://i.servimg.com/u/f23/20/37/66/52/old10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/old10.gif"] {
	background-color: var(--accent-color);
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/new10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/new10.gif"] {
	animation: pulse_bg 2s infinite;
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/new_n10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/new_n10.gif"] {
	--pulse_bg-hue: var(--img-note-hue, 100);
	animation: pulse_bg 2s infinite;
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/note10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/note10.gif"] {
	background-color: hsl(var(--img-note-hue, 100), 50%, 30%);
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/new_a10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/new_a10.gif"] {
	--pulse_bg-hue: var(--img-annonce-hue, 190);
	animation: pulse_bg 2s infinite;
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/ance10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/ance10.gif"] {
	background-color: hsl(var(--img-annonce-hue, 190), 50%, 30%);
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/locked10.gif"],
.topic_image img[src="https://i.servimg.com/u/f23/20/37/66/52/locked10.gif"] {
	background-color: var(--img-locked-bg, #242424);
}

img[src="https://i.servimg.com/u/f23/20/37/66/52/old10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/new10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/new_n10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/note10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/new_a10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/ance10.gif"],
img[src="https://i.servimg.com/u/f23/20/37/66/52/locked10.gif"] {
	height:25px;
	width:100%;
	max-width: 25px;
}

.topic_image {
	height: 100%;
	width:10px;

	grid-area: img;
}

.topic_image img {
	width: 100%;
	height: 100%;
}

.topic_stats_container {
	grid-area: stats;
}

.topic_stats_container > span {
	display: block;
	margin: 10px auto auto 15px;
	text-transform: lowercase;
	font-variant: small-caps;
}

.topic_replies {
	
}

.topic_views {
	
}

.topic_right_section {
	position: relative;
	flex-grow: 1;
	margin-left: 10px;
	display: grid;
	grid-template-areas:
		"title last-post"
		"desc last-post"
		"author last-post";
	grid-template-columns: 1fr 250px;
	grid-template-rows: 1fr auto 1fr;
}

.topic_title {
	grid-area: title;
}

.topic_participated:not(:empty) {margin-right:5px}

.topic_type {
	
}

.topic_link {
	font-variant: petite-caps;
	font-weight: bold;
	font-size: 11.5px;
}

.topic_title, .topic_author, .topic_description {
	align-self: center;
}


.topic_description {
	grid-area: desc;
	font-style:italic;
	color: #696767;

	grid-area: desc;
}

.topic_author {
	grid-area: author;
	font-size:10px;
	padding-bottom: 2px;
	grid-area: author;
}

.topic_last_post {
	padding-right: 70px;
	text-align: right;
	grid-area: last-post;
	align-self: center;

	grid-area: last;
}

.topic_last_post_time {
	display: block;
}

.topic_last_post_author {
	
}

.topic_last_post_link {margin-left: 5px;}

.topic_last_post_avatar {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	box-shadow: 1px 1px 2px #333333;
	grid-area: avatar;
}

.topic_last_post_avatar img {
	width: 100%;
}

.no_topic {
	text-align: center;
	margin-bottom: 10px;
}

/***********************PA*******************************/

.pa_alo {
    display: grid;
    grid-template-columns: 1.1fr 0.7fr 1fr;
    grid-template-rows: 70px 205px auto;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        "pa_bienvenue pa_bienvenue pa_bienvenue"
        "pa_contexte pa_contexte pa_partenaires"
        "pa_staff pa_credits pa_topsite";
}

.pa_bienvenue {
    grid-area: pa_bienvenue;
    font-family: 'Ms Madi',cursive;
    font-size: 42px;
    text-align: center;
    font-weight:700;
    color:black;
}

.pa_contexte { grid-area: pa_contexte;
background-image:url(https://media.discordapp.net/attachments/549523156633649163/967471831449755668/unknown.png);
  height: 205px;
}

.pa_contexte h2{
    font-family: 'Ms Madi',cursive;
    font-size: 30px;
    text-align: center;
    margin: 0;
    background-color: #ede4c3;
}

.contexteensavoirplus{
    opacity:0;
    transition: .75s;
}

.contexte{
    text-align: justify;
    padding: 10px;
    background-color: var(--title-2-bg);
    color: black;
    font-size: 12px;
}

.contexteensavoirplus:hover{
    opacity:1
}

.ensavoirplus{
      text-align: right;
    padding: 0 10px 10px 0;
    background-color: var(--title-2-bg);
    color: black;
    font-size: 12px;
}

.pa_staff { grid-area: pa_staff; }

.pa_staff h2{
      font-family: 'Ms Madi',cursive;
    font-size: 30px;
    text-align: center;
    margin: 10px 0 10px;
}

.staff{
    background-size: contain;
    width: 85px;
    height: 85px;
    display: inline-flex;
    margin-right: 10px;
}

.infostaff{
    opacity:0;
    background-color:var(--title-2-bg);
    height: 75px;
    width:75px;
    padding: 5px;
    font-size: 12px;
    line-height: 2;
    transition:.75s
}

.infostaff:hover{
    opacity:1;
    transition:.75s
}

.infostaff2{
    height: 60px;
    padding: 5px;
    width: 110px;
    margin-top: 4px;
    font-size: 12px;
}

.dispo::before{
color:green;
  content:"Disponible"
}

.indispo::before{
color:red;
  content:"Indisponible";
}

.pa_topsite { grid-area: pa_topsite; }

.pa_topsite h2{
      font-family: 'Ms Madi',cursive;
    font-size: 30px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.pa_partenaires {
    height: 205px;
    grid-area: pa_partenaires;
    margin-top: -4px;
}

.pa_partenaires h2{
    font-family: 'Ms Madi',cursive;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.pa_partenaires img{
      margin-top: 5px;
}

.pa_credits{
    grid-area: pa_credits;
}

.pa_credits h2{
      font-family: 'Ms Madi',cursive;
    font-size: 30px;
    text-align: center;
  margin: 10px 0 10px;}

.credits{
    margin: 10px;
    text-align: justify;
  color:black;
}

/***********************AFFICHAGE*****************************/

.affichage {
    display: grid;
    grid-template-columns: 140px 252px 300px 280px;
    grid-template-rows: 115px 1fr;
    gap: 0 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "liens chrono coupe4maisons predef"
        "liens chrono annonces date";
    padding: 5px;
    margin: -90px 1px 5px;
    background-color: #ede4c3;
}

.liens { 
    grid-area: liens;
    text-align: center;
    font-size: 11px;
    width: 150px;
    align-self: center;
}

.liens a {
    background-color: var(--title-2-bg);
    padding: 5px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    width: 130px;
    border-radius: 5px;
    text-align: center;
    transition:.75s;
}

.liens a:hover {
    background-color: #d4c1a0;
    transition:.75s;
    text-decoration:none!important
}

.coupe4maisons { grid-area: coupe4maisons;
}

.coupe4maisons div{
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
}

.coupe4maisons img{
width:300px;
}

.results{
  width:300px;
}

.chrono {
    grid-area: chrono;
}

.chrono h2{
    font-family: 'Ms Madi',cursive;
    font-size: 42px;
    margin: -9px 0px;
    text-align: center;
}

.chrono_full {
    background-color: var(--title-2-bg);
    overflow: auto;
    padding: 5px;
    font-size: 0.65vw;
    height: 241px;
}

.chrono span {
    display: block;
    font-size: 0.65vw;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--fow-bg);
    border-bottom: 1px solid rgb(237,228,195,0.7);
    margin-top: 10px;
}

.date {
    grid-area: date;
    text-align: center;
    margin: 10px 0 -15px 0;
}

.date span{
font-weight:bold;
}

.nousommesle{
    margin-top: 10px;
    margin-bottom: -20px;
    background-color: var(--title-2-bg);
    margin-left: 5px;
    padding: 5px;
    font-size: 0.79vw;
}

.annonces {
    grid-area: annonces;
}

.annonces h2{
    font-family: 'Ms Madi',cursive;
    font-size: 42px;
    margin: 0 0 -26px 0;
    text-align: center;
}

.annonce_full{
    background-color: var(--title-2-bg);
    padding: 5px;
    font-size: 0.65vw;
    height: 115px;
    margin-right: -5px;
    overflow:auto
}

.annonces span {
    display: block;
    font-size: 0.65vw;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--fow-bg);
    border-bottom: 1px solid rgb(237,228,195,0.7);
    margin-top: 10px;
}

.predef{
   grid-area: predef;
}

.predef h2{
    font-family: 'Ms Madi',cursive;
    font-size: 42px;
    margin: -9px 0;
    text-align: center;
}

.alo_pa_slider {
	position: relative;
	min-height: 60px;
	z-index: 2;
}

.alo_pa_slider > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: -1;
}

.alo_pa_slider .slider_prev,
.alo_pa_slider .slider_next {
    display: block;
    padding: 5px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 50%;
    line-height: 100%;
    top: 30px;
    cursor: pointer;
    user-select: none;
    background: #d4c1a0;
    border-color: var(--title-2-bg);
}

.alo_pa_slider .slider_prev {
	left: 10px;
}

.alo_pa_slider .slider_next {
	right: 10px;
}

.alo_pa_predef {
}

.alo_pa_predef .ano_pa_slider {
	height: 150px;
}

.alo_pa_predef .slider_prev,
.alo_pa_predef .slider_next {
	top: 65px;
}

/*******************
====== GLOBAL=======
*******************/

/* VARIABLES - GLOBALES */

:root {
	--accent-hue: 200;
	--accent-color: hsl(var(--accent-hue, 200), 50%, 30%);
	
	--fow-bg: #ede4c3;
	--fow-txt: rgb(142,142,142);
	
	--title-txt: lightgrey;
	--title-bg: var(--accent-color);
	
	--title-2-txt: #000000;
	--title-2-bg: #c4c9c5;
	
	--fow-link: var(--fow-txt);
	--fow-link-alt: var(--title-2-txt);
  
	--sceditor-border: #0e0e0e;
	--sceditor-txt: rgba(142,142,142,1);
  
	--g-pnj: #BA00B4;
	--g-gryffondor: #C93437;
	--g-serdaigle: #2F64EB;
	--g-serpentard: #00C42E;
	--g-poufsouffle: #CCCC00;
	--g-professeurs: #00b6a7;
	--g-sorciers: #F0A000;
}

/* VARIABLES - SWITCHEROO */

:root {
	--sw-color-text: rgba(255, 255, 255, 0.87);
	--sw-color-bg: var(--title-2-bg, #17141b);
	--sw-color-delete: #e74c3c;
	--sw-color-tooltip: #010203;
	--sw-color-squircle: var(--fow-bg, #201f2e);
	--sw-color-accent: var(--accent-color, #b14255);
	--sw-color-accent-hover: hsl(var(--accent-hue, 200), 50%, 30%);
	--sw-color-button: var(--fow-txt, #aaa2f2);
	--sw-color-pill: #ffffff;
	--sw-gap-size: 10px;
	--sw-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
	--sw-ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* CATEGORIES - ANIMATIONS */

:root{
	--pulse_bg-light-low: 18%;
	--pulse_bg-light-high: 35%;
	--pulse_bg-hue: var(--accent-hue, 195);

	--img-note-hue: 100;
	--img-annonce-hue: 190;
	--img-locked-bg: #242424;
}

@keyframes pulse_bg {
	0% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-low, 10%));}
	50% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-high, 30%));}
	100% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-low, 10%));}
}

/* SCROLLBAR */

::-webkit-scrollbar{
	width:10px
}

::-webkit-scrollbar-track{
	background-color:#ede4c3
}

::-webkit-scrollbar-thumb{
	BACKGROUND-COLOR:var(--accent-color)
}

/* SURCHARGE FA */

.bodyline {
	padding-top: 100px!important;
}

a {
	text-decoration:none!important;
	cursor:pointer!important;
}

a:hover {
	cursor:pointer!important;
}

a:not(.mainmenu),
a:not(.mainmenu):link,
a:not(.mainmenu):visited,
a:not(.mainmenu):hover {
	color: var(--accent-color);
}

.gen,
.genmed,
.gensmall {
	color: var(--fow-txt, inherit);
}

table:not(.bodylinewidth),
table tr,
table tr th,
table tr td{
	padding: 0!important;
	margin: 0!important;
	border: none!important;
}

.cattitle {
	color: var(--fow-txt);
}

td.cat, td.catBottom, td.catHead, td.catLeft, td.catRight, td.catSides,
th, .thLeft, .thRight {
	background-color: var(--accent-color, inherit)!important;
	color: var(--title-2-txt)!important;
}

.secondarytitle, .secondarytitle h2 {
	color: var(--title-txt)!important;
}

.row1,.row1.over,
.row2,
.row3,.row3.over,.row3Right,
.fb_or {
	background-color: var(--fow-bg, inherit)!important;
	/* color: var(--title-txt)!important; */
	color: var(--fow-txt)!important;
} 

input, select, textarea {
	background-color: var(--title-2-bg)!important;
	color: var(--title-2-txt)!important;
	border: none;
}

#theme_picker input, select  {
    background-color: var(--title-2-bg)!important;
    color: var(--fow-txt)!important;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 10px;
    padding: 2px;
    font-variant: petite-caps;
}

.forumline {
	background:none!important;
	border:none;
}

#i_logo {
	width: 100%;
}

body > a[href="/"]{
	display: block;
	background: linear-gradient(to bottom, var(--accent-color) 90%, transparent 90%);
	text-align: center;
	width: 100%;
}

/*******************
==== NAVIGATION ====
*******************/

#nav_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	z-index: 900;
	display: flex;
	align-items: center;
	background-color: var(--title-2-bg);
	box-shadow: 0px 0px 2px black, 2px 2px 3px black;
	font-size:0;
}

#nav_bar a.mainmenu {
    font-size: 15px;
    margin-left: 30px;
    font-variant: petite-caps;
    transition: .75s;
    color: var(--accent-color);
}

#nav_bar a.mainmenu img {
	width: auto;
	transition:all .5s ease;
	filter: drop-shadow(0 0 1px black);
}

#nav_bar a.mainmenu:hover{
    text-decoration: none!important;
    color: #ede4c3!important;
    transition: .75s;
}

#nav_bar a.mainmenu img:hover {
	filter: opacity(.1)
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	saturate(2);
	--webkit-filter: opacity(.1)
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	drop-shadow(0 0 0 var(--accent-color))
	saturate(2);
	transition:all .5s ease
}

#nav_bar a.mainmenu[href="/faq"],
#nav_bar a.mainmenu[href="/"]{
  display:none!important;
}

#nav_menu-btn {
	margin-right: 10px;
	font-size: 20px;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 10px;
}

#nav_menu {
	position: fixed;
	top: 62px;
	left: 0px;
	width: 200px;
	height: auto;
	background-color: var(--title-2-bg);
	display: none;
	padding: 15px;
	box-sizing: border-box;
	z-index: 10;
	    border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 2px black;
}

#nav_menu > a {
    display: block;
    margin-top: 6px;
    font-variant: petite-caps;
    font-size: 15px;
    color: var(--accent-color);
}

#nav_menu a img {
	display: none;
}

#nav_forum-name {
	flex-grow: 1;
}

#nav_avatar {
	width:50px;
	height:50px;
	border-radius: 50%;
	overflow: hidden;
}
#nav_avatar > img {
	width: 100%;
}

#nav_namelink{
	margin-left: 15px;
	font-size: 35px;
	letter-spacing: 4px;
	font-weight: bold;
	font-family: 'Ms Madi', cursive;
}

#nav_namelink a:hover{
    text-decoration:none!important;
    color: var(--fow-link-alt);
    transition: .75s;
}

label[for="accent_picker"] {
    display: block;
    font-size: 15px;
    font-variant: petite-caps;
}

/* TOOLBAR */

#fa_toolbar_hidden,
#fa_hide,
#fa_menu {
	display: none!important;
}

#fa_toolbar {
	margin-top: -30px;
}

#fa_right {
	font-size: 14px;
	position: fixed;
	left: 50px;
	top: 5px;
	z-index: 999;
}

#fa_right .rightHeaderLink {
	font-size:0;
}

#fa_notifications {
	width: 50px;
	height: 50px;
	margin:0 0 10px 0!important;
	padding: 0!important;
	font-size:0;
	background: none!important;
	box-shadow: 1px 1px 2px #333333;
	border-radius: 50%;
}

#fa_notifications:before {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: top center;
	background-size: cover;
	border-radius: 50%;
}

#notif_unread {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 3px;
	line-height: 1em;
	background: darkred;
	border-radius: 50%;
	color:white!important;
	font-size:11px;
}

ul#notif_list {
	min-width: 200px;
}

#fa_toolbar #fa_right #notif_list li.unread{
	background-color: var(--title-2-bg);
	color: var(--title-2-txt);
}

#fa_toolbar #fa_right #notif_list li,
#fa_toolbar #fa_right #notif_list li.see_all{
	background-color: var(--fow-bg);
	color: var(--fow-txt);
}

#fa_toolbar #fa_right #notif_list li .contentText a {
	color: var(--accent-color)!important;
	text-decoration: none!important;
}

#fa_toolbar #fa_right #notif_list li.see_all a {
	color: var(---accent-color)!important;
}

/* SWITCHEROO */

.switcheroo {
	color: var(--sw-color-text);
	background-color: var(--sw-color-bg);
	font-size: 16px;
	border-radius: 25px;
	display: none;
	box-shadow: 0px 0px 2px black;
}

.switcheroo[position="top"] {
	position: fixed;
	top: 90px;
	right: 50px;
	z-index: 999;
	width: auto;
	max-width: 290px;
}

.switcheroo__squircles {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	padding: var(--sw-gap-size);
	gap: var(--sw-gap-size);
}

.switcheroo[direction="horizontal"] .switcheroo__squircles {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* squircle */

.switcheroo[theme="discord"] .switcheroo__squircle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--sw-color-squircle);
	border: 2px solid rgba(255, 255, 255, 0);
	background-clip: content-box;
	padding: 2px;
	width: 50px;
	height: 50px;
	box-sizing: content-box;
	border-radius: 50%;
	cursor: pointer;
	transition: border-radius 128ms var(--sw-ease);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover {
	border-radius: 50%;
	border: 2px solid var(--sw-color-accent-hover, rgba(255, 255, 255, 0.5));
}

.switcheroo[theme="discord"] .switcheroo__squircle.active {
	border-radius: 50%;
	cursor: default;
	border: 2px solid var(--sw-color-accent, rgba(255, 255, 255, 0.99));
}

/* tooltip */

.switcheroo__popper {
	background-color: var(--sw-color-tooltip);
	padding: 0.68rem 1rem;
	position: absolute;
	width: -webkit-max-content;
	width: max-content;
	border-radius: 4px;
	z-index: 2;
	opacity: 0;
	transition: opacity 64ms var(--sw-ease), transform 128ms var(--sw-ease-bounce);
	pointer-events: none;
	color: #fff;
}

.switcheroo[direction="vertical"] .switcheroo__popper {
	left: 155%;
	top: 50%;
	transform-origin: left;
	transform: translateY(-50%) scale(0.98);
}

.switcheroo[direction="horizontal"] .switcheroo__popper {
	top: 130%;
	left: 50%;
	transform-origin: top;
	transform: translateX(-50%) scale(0.98);
}

.switcheroo__popper:before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: var(--sw-color-tooltip);
	z-index: -1;
}

.switcheroo[direction="vertical"] .switcheroo__popper:before {
	left: -2px;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.switcheroo[direction="horizontal"] .switcheroo__popper:before {
	left: 50%;
	top: -2px;
	transform: translateX(-50%) rotate(-45deg);
}

.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
	opacity: 1;
	transform: translateX(-50%) scale(1);
}

.switcheroo__squircle:hover:before {
	opacity: 1;
	transform: translate(-100%, -50%) scale(0.5);
}

/* avatar */

.switcheroo[theme="discord"] .switcheroo__avatar {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
}

.switcheroo[theme="discord"] .switcheroo__avatar img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* divider */

.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__divider {
	width: 2px;
	background-color: var(--sw-color-pill);
	border-radius: 1px;
	opacity: 0.06;
	transform: scale(0.8);
}

/* delete button */

.switcheroo[theme="discord"] .switcheroo__delete {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 16px;
	line-height: 14px;
	height: 16px;
	top: -2px;
	right: -2px;
	border-radius: 50%;
	background-color: var(--sw-color-delete);
	transform: scale(0);
	opacity: 1;
	transition: transform 128ms var(--sw-ease), opacity 64ms var(--sw-ease);
	cursor: pointer;
	font-size: 13px;
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover .switcheroo__delete {
	opacity: 1;
	transform: scale(1);
}

/* logo */

.switcheroo[theme="discord"] .switcheroo__logo {}

.switcheroo[theme="discord"] .switcheroo__logo img {
	width: 32px;
}

.switcheroo[theme="discord"] .switcheroo__logo:hover {
	background-color: var(--sw-color-accent);
}

/* buttons */

.switcheroo[theme="discord"] .switcheroo__squircle--button {
	transition: border-radius 128ms var(--sw-ease);
	color: var(--sw-color-button);
}

.switcheroo[theme="discord"] .switcheroo__squircle--button:hover {
	color: #fff;
	background-color: var(--sw-color-button);
}

/* modal */

.switcheroo__form {
	padding: 48px;
}

.switcheroo__form-row {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

.switcheroo__form-label {
	margin-bottom: 8px;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--sw-color-text) !important;
}

.switcheroo__form-input {
	padding: 6px !important;
	font-size: 16px !important;
	border-radius: 4px !important;
	width: 100% !important;
	border-bottom: 2px solid var(--sw-color-accent) !important;
	background-color: var(--sw-color-bg) !important;
	color: var(--sw-color-text) !important;
	cursor: text !important;
}

.switcheroo__form-button {
	border-radius: 8px;
	padding: 8px;
	border: none;
	outline: none;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	align-self: flex-end;
	color: #fff;
	background-color: var(--sw-color-accent);
}

.monomer-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s opacity ease;
	background: rgba(0, 0, 0, 0.6);
}

.monomer-modal {
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 94%;
	padding: 24px 20px;
	transition: 0.2s opacity ease;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	background: var(--sw-color-squircle);
	color: var(--sw-color-text);
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monomer-modal.monomer-open.monomer-anchored {
	top: 20px;
	transform: translate(-50%, 0);
}

.monomer-modal.monomer-open {
	opacity: 1;
}

.monomer-overlay.monomer-open {
	opacity: 1;
}

.monomer-close {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -5px;
	right: -5px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: 0;
	outline: none;
	background: var(--sw-color-delete);
	border-radius: 50%;
	padding: 0;
}

.monomer-close:hover {
	opacity: 0.8;
}

/*******************
====== INDEX =======
*******************/

/* RUBAN ANNONCES */

#fa_ticker_block {
	font-size: 12px;
	margin-bottom: 10px!important;
}

/*******************
====== THEMES =======
*******************/

/* THEME PAR DEFAUT */

body #i_logo {
	content: url("https://zupimages.net/up/22/16/879b.png");
	margin-top:30px;
}

/***************************************CATEGORIES***********************************/

.cat-nav {text-align:center;}
.cat-nav a{text-transform:lowercase; font-size:10px; padding-left:5px;color:black;}

.titrecat h2{
  font-size: 45px!important;
}

.titrecat { 
    text-align: center;
    width: 780px;
    height: 90px;
    padding: 2px;
    margin-top: 15px;
}

.titre-cadre {
    font-family: 'Ms Madi',cursive;
}

.cate {
    display: grid;
    grid-template-columns: 150px 1fr 50px 170px;
    grid-template-rows: auto auto auto;
    gap: 0 0;
    grid-template-areas:
        "Forumname Forumname Forumname Forumname"
        "imgrep descforum avalast Liensub"
        "sousforums sousforums avalast submess";
    width: 98%;
    background-color: #ede4c3;
    margin-top: 5px;
    min-height: 136px;
    padding: 5px;
}

.Forumname {
    grid-area: Forumname;
    text-align: left;
    font-family: 'Ms Madi',cursive;
    margin: 0px 0px 5px 0px;
    padding-left: 5px;
    background-color: var(--title-2-bg);
    font-size:25px;
    transition:.75s;
}

.Forumname a:hover{
    text-decoration:none!important;
	color:var(--fow-bg);
	transition:.75s;
}

.Forumname a{
	transition:.75s;
}

.imgrep { grid-area: imgrep;    width: 150px;
    height: 86px;
    padding-top: 5px;
    object-fit: cover; }

.Liensub {
    grid-area: Liensub;
    align-self: center;
    font-size: 10px;
    color: #000!important;
    text-decoration: none!important;
    text-transform: lowercase;
    font-style: italic;
    line-height: 1.5;
    padding: 0 10px;
}

.Liensub a {
    text-transform: uppercase;
}

.descforum {
    grid-area: descforum;
    width: 590px;
    height: 90px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
    font-size: 11px;
    padding-right: 3px;
    overflow: auto;
}

.sousforums { 
    grid-area: sousforums;
    overflow: auto;
    font-size: 0;
    align-self: center;
    height: auto;
}

.sousforums a {
    margin-left: 10px;
    background-color: #c4c9c5;
    padding: 4px;
    line-height: 2.3;
    transition: .75s;
}

.sousforums a:hover {
    text-decoration: none!important;
    background-color: #d4c1a0;
    transition: .75s;
}

.avalast {
    grid-area: avalast;
    height: 80px;
    width: 50px;
    background-color: #fff;
    align-self: center;
    border: 1px solid #fff4ca;
}

.submess { 
    grid-area: submess;
    text-align: right;
    font-size: 0.5vw;
  align-self: end;
}

.lastpost-avatar {
  padding:0px!important
}
.lastpost-avatar img {
width: 50px;
height: auto;
  border-radius:0px!important;
}


/**********************QEEL**********************/

.qeel {
    display: grid;
    grid-template-columns: 100px 115px 121px 1fr 500px;
    grid-template-rows: 40px 195px 50px 1fr 46px;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
        "qeelname qeelname qeelname qeelname qeelname"
        "online online online online wasconnected"
        "groups groups groups groups groups"
        "mess nbmembers welcometo welcometo welcometo"
        "birthday birthday birthday birthday birthday";
    padding: 10px;
}

.qeelname {
    grid-area: qeelname;
    font-family: 'Ms Madi',cursive;
    font-size: 45px!important;
    margin-top: -15px;
    text-align: center;
    font-weight: 700;
    z-index:999;
}

.online {
    grid-area: online;
    background-color: #ede4c3;
    width: 465px;
    height: 170px;
    padding: 5px;
    color: var(--fow-txt)!important;
    text-transform: uppercase;
    font-size: 11px;
	overflow: auto;
}

.wasconnected { grid-area: wasconnected; background-color: #ede4c3;
    padding: 5px;
    height: 170px;
    overflow: auto;
    text-align:justify
}

.wasconnected div {
    margin:auto; margin-top:25px;
    width:350px; height:140px; padding:5px; overflow:auto;
    background:white; box-shadow:0 0 3px rgba(0,0,0,0.1); /* MODIFIABLE */
    font-size:10px; text-align:justify;
}
.wasconnected .row1 {
    background: none!important; padding:0; margin:0;
}
.wasconnected .row1 .gensmall {
    color: var(--fow-txt)!important;
    background:none;
    text-transform: uppercase;
    font-size: 11px;/* MODIFIABLE */
}

.groups { grid-area: groups; text-align: center;}

.groups a{
    padding: 5px;
    color: white!important;
    margin-left: 30px;
    transition: .75s;
}

.groups a:hover{
    text-decoration: none!important;
    background-color: #ede4c3!important;
    color: black!important;
    transition: .75s;
}

.mess { grid-area: mess; display:inline-block; vertical-align:top;
height:90px; width:90px; padding:5px;
background:#ede4c3; /* MODIFIABLE */}

.mess p{
margin-top:10px; margin-left:10px;
width:70px; height:55px; padding-top:15px;
text-transform:uppercase; font-size:11px; text-align:center;
background:white; box-shadow:0 0 2px rgba(0,0,0,0.1); color:grey; /* MODIFIABLE */
}
/* TAILLE NOMBRE TOTAL MESSAGES QEEL */
.mess b{
font-size:18px;
}

.nbmembers { grid-area: nbmembers; display:inline-block; vertical-align:top; margin-left:15px;
height:90px; width:90px; padding:5px;
background:#ede4c3; /* MODIFIABLE */}

.nbmembers p{
margin-top:10px; margin-left:10px;
width:70px; height:55px; padding-top:15px;
text-transform:uppercase; font-size:11px; text-align:center;
background:white; box-shadow:0 0 2px rgba(0,0,0,0.1); color:grey; /* MODIFIABLE */
}
/* TAILLE NOMBRE TOTAL MEMBRES QEEL */
.nbmembers b{
font-size:18px;
}

.welcometo {
    grid-area: welcometo;
    display: grid;
    grid-template-columns: 92px 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "avatarlastmember bienvenuea birthday";
}

.avatarlastmember {
    grid-area: avatarlastmember;
    width: 70px;
    text-align: center;
    overflow: hidden;
    max-height: 70px;
    margin-left: 15px;
    margin-right: 10px;
    border: 15px solid #ede4c3;
}

.avatarlastmember img{
    max-width: 100%!important;
}

.bienvenuea {
    grid-area: bienvenuea;
    align-self: center;
    padding-left: 20px;
    text-align: center;
    font-size:0.9vw;
}

.birthday {
    grid-area: birthday;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    height: 99px;
    background: #ede4c3;
    padding: 2px;
}

.birthday .row1 {
color:black;
  background:none!important;
  font-size: 11px
}

/*Fait disparaître la colonne des widgets*/
#left {
  display: none;
}
/*Personnaliser le contenu des derniers sujets*/
#derniers_sujets {
    width: 230px;
    max-height: 86px;
    overflow: auto;
}


/* SCEDITOR */

.sceditor-container, .sceditor-toolbar, .sceditor-container textarea {
	background: none!important;
	border-color: var(--sceditor-border,#0e0e0e)!important;
	color: var(--sceditor-txt, lightgrey)!important;
}

.sceditor-toolbar {
	text-align: center;
}

.sceditor-group {
	background: var(--fow-bg)!important;
	border: 1px solid black!important;
}

.sceditor-button:hover,
.sceditor-button.hover,
.sceditor-button.active{
	/* TODO */
	background: var(--accent-color)!important;
}

/* SCEDITOR - SMILIES */

#sceditor_smilies {
	background-color: var(--fow-bg);
}

#sceditor_smilies table {
	background-color: var(--title-2-bg);
}

#sceditor_smilies #smilies_header {
	height: 15px;
	background-color: var(--title-2-bg);
}

/* BBCODE PERSONNALISE DANS SCEDITOR */

.sceditor-button-usercode div,
.sceditor-button-paroles div {
	background: url('https://i.servimg.com/u/f44/20/29/00/76/star10.png')!important;
	background-size: 16px 16px!important;
}

.sceditor-button-habillage div {
	background: url('https://i.ibb.co/XX3SrN1/fav-habillage.png')!important;
	background-size: 16px 16px!important;
}



/*******************
====== PROFIL ======
*******************/

.profile_row {
	display: flex;
	flex-wrap: wrap;
}

.profile_top {
	flex-basis: 100%;
	background-color: var(--accent-color);
	padding: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile_title {
	font-size: 0;
	text-shadow: 0px 0px 3px black;
}

.profile_title span {
	font-size: 16px;
	font-variant: small-caps;
	text-transform: capitalize;
}

.profile_contact {
	flex-grow: 1;
	text-align: right;
	text-shadow: 0px 0px 3px black;
}

.profile_contact a {
	text-transform: capitalize;
	font-variant: small-caps;
	display: inline-block;
	margin-left: 10px;
	color: lightgrey!important;
	font-weight: bold;
}

.profile_contact > div[id^="field_id"] {
	display:inline-block;
	margin-left:10px;
}

.profile_left {
	padding: 10px;
	background: var(--fow-bg);
	width: 200px;
}

.profile_avatar {
	 margin-bottom: 10px;
}

.profile_rank {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.profile_online {
	line-height: 2;
	text-align: center;
}

.profile_friend {
	
}

.profile_contact_left{text-align:center}

.profile_contact_left > div {
	display: inline-block;
	font-size: 0;
}

.profile_contact_left > div > * {
	margin: 2px 5px;
}

.profile_admin {
	line-height: 3;
	text-align: center;
}

.profile_right {
	flex-grow: 1;
	margin-left: 10px;
	background: var(--fow-bg);
	padding: 10px;
	line-height: 2.8;
}

.profile_right .profile_right_row {
	display: grid;
	grid-template-columns: 150px auto;
}

.profile_right .profile_label {
	text-align: right;
	font-weight: bold;
	color: var(--accent-color);
}

.profile_right .profile_data {
	margin-left: 5px;
}

.profile_bottom {
	flex-basis: 100%;
	margin-top: 10px;
}

.profile_achieve, .profile_inventory {
	text-align: center;
	background-color: var(--fow-bg);
	padding:10px
}

.profile_inventory{margin-top:10px}

.profile_achieve .profile_label,
.profile_inventory .profile_label{
	display: none;
}

.profile_bottom_subtitle {
	color: var(--accent-color);
	font-variant: petite-caps;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}

.profile_adm_comment {
	
}

.profile_rpg {
	display: flex;
	flex-wrap: wrap;
}

.profile_rpg_adm {
	flex-basis: 100%;
	text-align: center;
}

.profile_rpg_adm table {
	margin: 0 auto;
}

.profile_rpg_adm table tr td {
	background: none;
	border: none;
}

.profile_rpg_image {
	
}

.profile_rpg_fields_left {
	
}

.profile_rpg_fields {
	
}

/* BADGES & PERSONNALISATIONS DE CHAMPS */

.badge_ano {
	width:50px;
	height:50px;
	margin-right: 10px;
}

.inventaire_ano {
	width:50px;
	height:50px;
	margin-right: 10px;
}

/* Masque champ de contact - email */

a[href^="/profile?mode=email&u="] {
    display: none;
}

/* "Achats - line height normal */
#field_id11 {
	line-height: 1.2em;
}

#field_id11 .field_uneditable {
	max-height: 100px;
	overflow: auto;
}

.ajax-profil_edit {
	left: -10px;
}

/********************************PREDEFINIS******************************/
.predef_cadre{text-align:justify;width:600px;background-color: var(--title-2-bg);margin:auto;border:1px solid #fff6d3;padding:5px}
.predef_title{color:var(--accent-color);font-family: 'Ms Madi',cursive;text-align: center;font-size: 42px;padding: 25px 0;}
.predef_top {display: flex;} .predef_top div:nth-of-type(2) {padding-left: 2px;width: 67%;}
.predef_cadre h1 {background-image: linear-gradient(45deg,var(--accent-color),hsl(264 50% 30% / 0));text-align: center;font-size: 15px;padding: 2px;font-variant: small-caps;margin-top: 0px;}
.predef_top span {background: var(--accent-color);color: #fff;margin: 8.7px;display: inline-block;vertical-align: top;width: 82px;padding: 2px 0;overflow: hidden;font-size: 9px;font-family: Arial;text-align: center;line-height: 12px;}
.predef_mid {display: flex;} .predef_mid div:nth-of-type(1) {width: 50%!important} .predef_mid div:nth-of-type(2) {margin-left: 4px;width: 60%;}
.predef_credit{font-style: italic;text-align: right;font-size: 9px;margin-top: -20px;} .Pr_relations img {float: left;margin-right: 10px;}
.predef_sscat{text-align: justify;width: 96%;background-color: #ede4c3a8;margin: auto;padding: 5px;}

/* FLECHES HAUT-BAS */
.boutonhautbas {
	bottom: 40px;
	right: 10px;
	position: fixed;
	z-index: 100;
}
.boutonhautbas img{
	width:30px
}
